.canvas {
  position: sticky;
  top: 0;
  z-index: 1;
  max-width: 1600px;
  margin: 0 auto;

  canvas {
    right: 0;
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    margin: 0 auto !important; /* stylelint-disable-line */
  }

  [class^="konvajs-content"] {
    width: auto !important; /* stylelint-disable-line */
    height: auto !important; /* stylelint-disable-line */
    padding: 56.25% 0 0;
  }

  @media screen and (orientation: landscape) {
    width: 100%;
  }
}

.stage {
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .canvas {
    position: relative;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .stage {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
