{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 200,
        "singleQuote": false
      }
    }
  ]
}
