.canvas {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 1;
  max-width: 1600px;
  margin: 0 auto;
  cursor: move;

  @media screen and (orientation: landscape) {
    width: 100%;
  }
}

.stage {
  max-width: 1600px;
  margin: 0 auto;

  [class^="konvajs-content"] {
    width: auto !important; // stylelint-disable-line
    height: auto !important; // stylelint-disable-line
    padding: 56.25% 0 0;
  }

  canvas {
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto !important; // stylelint-disable-line
  }
}

.ui {
  padding: 20px;

  p {
    padding: 8px 0;
    margin: 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .ui__child {
    padding-left: 10px;
    background: #f6f9f9;
    border-left: 3px solid #eff3f4;

    [data-color="1"] & {
      background-color: #192834;
      border-left-color: #38444d;
    }

    [data-color="2"] & {
      background-color: #17191d;
      border-left-color: #2f3336;
    }

    + p:not(.ui__child) {
      margin-top: 8px;
    }
  }
}

.download {
  padding: 0 20px;
  margin: 100px 0 0;
  text-align: center;

  &__h2 {
    font-size: 18px;
  }

  &__note {
    font-size: 12px;
  }

  &__imgWrap {
    max-width: 640px;
    margin: 20px auto 40px;
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__btn {
    width: 300px;
    max-width: 100%;
    min-height: 100px;
    padding: 40px 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto minmax(20%, 420px);
  }

  .canvas,
  .ui {
    grid-row: 1 / 2;
  }

  .canvas {
    grid-column: 1 / 2;
  }

  .ui {
    grid-column: 2 / 3;
    padding-top: 0;
    padding-bottom: 0;
  }
}
