.wrap {
  position: sticky;
  bottom: 0;
  padding: 10px 20px;
  text-align: right;
  background: rgba(255, 255, 255, 0.8);

  [data-theme="1"] & {
    background-color: rgba(21, 33, 43, 0.8);
  }

  [data-theme="2"] & {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &[data-is-expanded="true"] {
    z-index: 1;
  }
}

.material {
  position: fixed;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 40px;
  font-size: 14px;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);

  /* https://github.com/prettier/prettier/issues/15070 */
  /* prettier-ignore */
  transition: 0.2s opacity ease-out, 0.2s visibility ease-out;

  &__inner {
    width: 100%;
    max-width: 480px;
    padding: 20px 20px 24px;
    color: #333;
    background: rgba(255, 255, 255, 0.8);
  }

  &__hdg {
    margin: 0 0 8px;
    font-size: 18px;
  }

  &__p {
    margin: 0;
  }

  &__ul {
    padding: 0;
    margin: 12px 0 0;
  }

  &__li {
    list-style-position: inside;
  }

  &[hidden] {
    visibility: hidden;
    opacity: 0;
  }
}

.copyright {
  position: relative;
  z-index: 2;
  margin: 0;
  font-size: 12px;

  a {
    color: inherit;
    text-underline-offset: auto;
    cursor: pointer;
  }
}

.btn {
  padding: 0;
  font-size: 12px;
  color: inherit;
  text-decoration: underline;
  background: transparent;
  border: 0;
}
