.header {
  padding: 0 0 20px;

  --bgcolor: #fff;
  --borderColor: #ccc;

  [data-theme="1"] &,
  [data-theme="2"] & {
    --bgcolor: transparent;
    --borderColor: #777;
  }
}

.h1 {
  padding: 20px 20px 24px;
  margin: 0 0 20px;
  background: var(--bgcolor);
}

.logo {
  display: block;
  max-width: 100%;

  [data-theme="1"] &,
  [data-theme="2"] & {
    filter: invert(100);
  }
}

.ui {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.item {
  margin: 0;
}

.btn {
  width: 80px;
  height: 80px;
  padding: 0;
  font-size: 10px;
  background: #eee;
  border: 0;
  border-radius: 50%;
}

@media screen and (min-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 40px;
    background: var(--bgcolor);
    border-bottom: 1px solid var(--borderColor);
  }

  .h1 {
    margin: 0;
  }

  .ui {
    flex-grow: 1;
    justify-content: flex-end;
  }
}
