@use "../../utils/mixin.scss" as *;

.label {
  display: block;
  min-width: 120px;
  padding: 0 0 8px;
}

.wrap {
  flex-grow: 1;
}

.note {
  display: block;
  padding: 0 0 8px;
  font-size: 12px;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  letter-spacing: 1px;
}

.input {
  &[type="color"],
  &[type="range"] {
    height: 44px;
  }
}

.textarea {
  max-width: 100%;
  resize: vertical;
}

@include min-screen (460px) {
  .host {
    display: flex;
    align-items: center;
  }

  .label {
    padding: 0 8px 0 0;
  }

  .input,
  .textarea {
    font-size: 20px;
  }
}
